version: "3.9"

services:
  api:
    build:
      context: .
      dockerfile: ./DeviceManagementService.Api/Dockerfile
    depends_on:
      sqlserver:
        condition: service_healthy
    environment:
      ASPNETCORE_ENVIRONMENT: Development
      ConnectionStrings__DevicesDb: "Server=sqlserver,1433;Database=DevicesDb;User=sa;Password=SaStr0ng!Pass;TrustServerCertificate=True;"
    ports:
      - "8080:8080"

  sqlserver:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: devices_sql
    user: root
    environment:
      ACCEPT_EULA: "Y"
      SA_PASSWORD: "SaStr0ng!Pass"
      MSSQL_PID: "Developer"
    ports:
      - "1433:1433"
    volumes:
      - sql_data:/var/opt/mssql

    healthcheck:
      test: ["CMD-SHELL", "bash -c '</dev/tcp/localhost/1433'"]
      interval: 10s
      timeout: 5s
      retries: 10
      start_period: 30s

volumes:
  sql_data:
